extends layout
block css
	link(rel="stylesheet", type="text/css", href="css/cart.css")
	script(type="text/javascript", src="js/cart.js")
block title
	| Корзина на DoorsMarket
block content
	.cartpage_wrapper
		h2.cartpage_title="Ваши покупки:"
		.cartpage_content