extends gift_layout
block gift_title
	| Optima 112, белый дуб, Status
block add_image
	+add_image(2)
block table_values
	- var cellsTitles = ["Производитель", "Модель", "Материал", "Наличие"]
	- var cellsValues = ["Optima", "Op-987", "Белый дуб", "На складе"]
	+gift_cells(cellsTitles, cellsValues, 7900)