extends gift_layout
block gift_title
	| Versia 222, серый дуб, Status
block add_image
	+add_image(2)
block table_values
	- var cellsTitles = ["Производитель", "Модель", "Материал", "Наличие"]
	- var cellsValues = ["Versia", "FX2987", "Серый дуб", "На складе"]
	+gift_cells(cellsTitles, cellsValues, 12300)