extends gift_layout
block gift_title
	| Моделайн Диадема, беленый дуб, Ростра
block add_image
	+add_image(2)
block table_values
	- var cellsTitles = ["Производитель", "Модель", "Материал", "Наличие"]
	- var cellsValues = ["Ростра", "MD-77", "Белый дуб", "На складе"]
	+gift_cells(cellsTitles, cellsValues, 4700)