extends gift_layout
block gift_title
	| Лилия 5ДГ1 шпон, Владимирская фабрика
block add_image
	+add_image(20)
block table_values
	- var cellsTitles = ["Производитель", "Модель", "Материал", "Наличие"]
	- var cellsValues = ["Лилия", "5ДГ1", "Шпон", "На складе"]
	+gift_cells(cellsTitles, cellsValues, 4800)