extends gift_layout
block gift_title
	| Versia 221, итальянский орех, Status
block add_image
	+add_image(2)
block table_values
	- var cellsTitles = ["Производитель", "Модель", "Материал", "Наличие"]
	- var cellsValues = ["Versia", "j-2987", "Итальянский орех", "На складе"]
	+gift_cells(cellsTitles, cellsValues, 12000)