extends layout
block css
	link(type="text/css", href="css/gifts.css", rel="stylesheet")
	meta(property="og:title", content="Магазин сказочных дверей...")
	meta(property="og:description", content="Межкомнатные двери только высокого качества!")
	meta(property="og:type", content="image/jpg")
	meta(property="og:url", content="http://daniill0401.github.io/doorsmarket/")
	meta(property="og:image", content="http://daniill0401.github.io/doorsmarket/img/lol.jpg")
	meta(property="og:locale", content="ru_RU")
	meta(property="og:locale:alternate", content="en_GB")
block title
	| Doors Market
block content
	include gifts