.animated {
  animation-fill-mode: both;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: linear; }

@keyframes keyframe_application_form {
  from {
    opacity: 0;
    margin-left: -510px; }
  to {
    opacity: 1;
    margin-left: 0px; } }

.keyframe_application_form {
  animation-name: keyframe_application_form;
  display: block; }

@keyframes keyframe_app_button {
  from {
    margin-left: 0; }
  to {
    margin-left: 515px; } }

.keyframe_app_button {
  animation-name: keyframe_app_button; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  display: block;
  animation-name: fadeIn; }

@keyframes topIn {
  from {
    opacity: 0;
    top: 0%; }
  to {
    opacity: 1;
    top: 50%; } }

.topIn {
  animation-name: topIn; }

@keyframes topOut {
  from {
    opacity: 1;
    top: 50%; }
  to {
    opacity: 0;
    top: 0%; } }

.topOut {
  animation-name: topOut; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

.fadeOut {
  animation-name: fadeOut; }

@keyframes keyframe_application_form_reverse {
  from {
    opacity: 1;
    margin-left: 0px; }
  to {
    opacity: 0;
    margin-left: -510px;
    display: none; } }

.keyframe_application_form_reverse {
  animation-name: keyframe_application_form_reverse; }

@keyframes keyframe_app_button_reverse {
  from {
    margin-left: 515px; }
  to {
    margin-left: 0px; } }

.keyframe_app_button_reverse {
  animation-name: keyframe_app_button_reverse; }
