.cartpage_wrapper {
  min-width: 800px;
  max-width: 800px;
  margin: 30px auto; }

.cartpage_title {
  width: 100%;
  line-height: 50px;
  text-indent: 10px;
  border-bottom: 1px solid rgba(166, 0, 0, 0.8);
  font-weight: 100;
  font-family: Roboto-regular;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.8); }

.cartpage_content {
  padding-top: 20px;
  min-height: 500px;
  width: 100%;
  background-repeat: repeat-y;
  background-size: 600px auto;
  background-position: center top;
  background-image: url(../img/cart_back_1.png); }

.cartpage_gift {
  position: relative;
  padding-left: 10px;
  width: 100%;
  height: 140px;
  margin-top: 20px; }
  .cartpage_gift_image {
    position: relative;
    display: inline-block;
    background-image: url(../img/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 120px;
    margin: 10px 0 0 10px;
    height: 120px;
    width: 100px; }
  .cartpage_gift_image:after {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    width: 1px;
    height: 140px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.3), transparent); }
  .cartpage_gift_image:before {
    position: absolute;
    content: "";
    top: -10px;
    right: left;
    width: 1px;
    height: 140px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.3), transparent); }
  .cartpage_gift_description {
    position: relative;
    display: inline-block;
    margin: 10px 0 0 10px;
    padding-top: 20px;
    vertical-align: top;
    height: 140px;
    width: 350px; }
    .cartpage_gift_description_title, .cartpage_gift_description_model {
      width: 100%;
      font-weight: 100;
      font-family: Roboto-regular;
      font-size: 17px;
      color: rgba(0, 0, 0, 0.7); }
    .cartpage_gift_description_model {
      margin-top: 15px; }
    .cartpage_gift_description_title_name {
      width: 80px; }
    .cartpage_gift_description_title_key {
      width: 260px;
      text-align: right;
      font-size: 16px;
      color: rgba(106, 0, 0, 0.6); }
    .cartpage_gift_description_title_name, .cartpage_gift_description_title_key {
      vertical-align: middle;
      display: inline-block; }
    .cartpage_gift_description_model_name {
      width: 80px; }
    .cartpage_gift_description_model_key {
      width: 260px;
      text-align: right;
      font-size: 16px;
      color: rgba(106, 0, 0, 0.7); }
    .cartpage_gift_description_model_name, .cartpage_gift_description_model_key {
      vertical-align: middle;
      display: inline-block; }
  .cartpage_gift_description:after {
    position: absolute;
    content: "";
    top: -10px;
    right: -10px;
    width: 1px;
    height: 140px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.3), transparent); }
  .cartpage_gift_howmuch {
    display: inline-block;
    height: 140px;
    position: relative;
    margin-left: 20px;
    width: 120px; }
    .cartpage_gift_howmuch_value {
      position: absolute;
      height: 30px;
      width: 40px;
      top: 50px;
      left: 40px;
      color: rgba(0, 0, 0, 0.6);
      font-family: Roboto-regular;
      font-weight: 100;
      font-size: 17px;
      text-align: center; }
    .cartpage_gift_howmuch_button {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid transparent;
      cursor: pointer;
      top: 48px;
      transition: all ease-in-out .1s; }
      .cartpage_gift_howmuch_button_up {
        right: 0; }
      .cartpage_gift_howmuch_button_triangle {
        transform: rotate(45deg);
        margin: 8px 0 0 7px;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        transition: all ease-in-out .1s; }
        .cartpage_gift_howmuch_button_triangle_up {
          border-top: 2px solid white;
          border-right: 2px solid white;
          transform: translate(-1px) rotate(45deg); }
        .cartpage_gift_howmuch_button_triangle_down {
          border-left: 2px solid white;
          border-bottom: 2px solid white;
          transform: translate(3px) rotate(45deg); }
    .cartpage_gift_howmuch_button:hover {
      border: 1px solid rgba(0, 0, 0, 0.2);
      background: white; }
    .cartpage_gift_howmuch_button_up:hover .cartpage_gift_howmuch_button_triangle_up {
      border-top: 2px solid rgba(0, 0, 0, 0.5);
      border-right: 2px solid rgba(0, 0, 0, 0.5); }
    .cartpage_gift_howmuch_button_down:hover .cartpage_gift_howmuch_button_triangle_down {
      border-left: 2px solid rgba(0, 0, 0, 0.5);
      border-bottom: 2px solid rgba(0, 0, 0, 0.5); }
    .cartpage_gift_howmuch_hidden {
      display: none; }
  .cartpage_gift_howmuch:after {
    position: absolute;
    content: "";
    top: 0px;
    right: -15px;
    width: 1px;
    height: 140px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.3), transparent); }
  .cartpage_gift_sum {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 140px;
    vertical-align: top;
    padding: 35px 0 0 20px;
    font-family: Roboto-regular;
    font-weight: 100; }
    .cartpage_gift_sum_title {
      text-align: right;
      width: 100px;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.8); }
    .cartpage_gift_sum_value {
      text-align: right;
      width: 100px;
      line-height: 40px;
      color: rgba(100, 0, 0, 0.7); }
  .cartpage_gift_sum:after {
    position: absolute;
    content: "";
    top: 0px;
    right: -10px;
    width: 1px;
    height: 140px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.3), transparent); }

.cartpage_gift:after {
  position: absolute;
  content: "";
  bottom: -10px;
  right: -5%;
  width: 110%;
  height: 1px;
  background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.3), transparent); }

.cartpage_all {
  margin-top: 20px;
  text-align: right;
  padding-right: 50px;
  font-family: Roboto-regular;
  font-weight: 100;
  width: 100%;
  height: 60px;
  color: rgba(0, 0, 0, 0.8); }
  .cartpage_all_title {
    font-size: 22px; }
  .cartpage_all_value {
    font-size: 18px; }
