.gift_layout_wrapper {
  min-width: 800px;
  max-width: 800px;
  margin: 30px auto; }

.gift_layout_title {
  padding-left: 10px;
  font-weight: 100;
  line-height: 50px;
  font-family: Roboto-regular;
  border-bottom: 1px solid rgba(166, 0, 0, 0.8);
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.8); }

.gift_layout_img {
  margin-left: 30px; }

.gift_layout_img, .gift_layout_description {
  display: inline-block;
  vertical-align: top; }

.gift_layout_description {
  float: right;
  height: 400px;
  width: 550px;
  font-family: Roboto;
  color: rgba(0, 0, 0, 0.9); }
  .gift_layout_description table {
    border-collapse: separate;
    border-spacing: 1px;
    margin-top: 15px; }
    .gift_layout_description table td {
      border: 1px solid white;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
  .gift_layout_description-tr {
    height: 45px;
    width: 100%; }
  .gift_layout_description-tr:nth-child(even) td {
    background: rgba(0, 0, 0, 0.18); }
  .gift_layout_description-tr:nth-child(odd) td {
    background: rgba(0, 0, 0, 0.1); }
  .gift_layout_description-td {
    width: 275px;
    padding-left: 20px; }
  .gift_layout_description_price {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 50px; }
    .gift_layout_description_price-title {
      width: 100%;
      border-top: 1px solid rgba(166, 0, 0, 0.4);
      border-bottom: 1px solid rgba(166, 0, 0, 0.4);
      padding: 20px 20px 20px 0;
      text-align: right;
      display: inline-block; }
  .gift_layout_description_button {
    margin-top: 30px;
    margin-right: 10px;
    float: right;
    width: 200px;
    height: 40px;
    cursor: pointer;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.9); }

.gift_layout_right_round, .gift_layout_left_round {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 325px;
  cursor: pointer; }

.gift_layout_right_round:hover, .gift_layout_left_round:hover {
  background: rgba(166, 0, 0, 0.6); }

.gift_layout_right_round {
  right: 150px; }

.gift_layout_right_triangle {
  width: 25px;
  height: 25px;
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 24px;
  margin-left: 24px;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.gift_layout_left_round {
  left: 150px; }

.gift_layout_left_triangle {
  width: 25px;
  height: 25px;
  border-left: 2px solid rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: 6px;
  margin-left: 17px;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
